.servicios {
  margin-top: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: skyblue;
}

.cortes {
  margin: auto;
  padding: 10px;
  border: 2px solid white;
  box-shadow: whitesmoke;
  border-radius: 5%;
  width: fit-content;
  text-align: center;
}

img {
  border-radius: 5%;
  width: auto;
  height: 150px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
}

.product {
  margin: auto;
  padding: 10px;
  border: 2px solid white;
  box-shadow: whitesmoke;
  border-radius: 5%;
  width: fit-content;
  text-align: center;
}
