---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/header.astro";
import Footer from "../components/Footer/footer.astro";
import "../styles/about.css";
---

<Layout title="Pptoño barber | Acerca de mi">
  <Header />

  <main>
    <div class="hero">
      <h1>Acerca de mi</h1>
      <p>Soy Joseantonio, mejor conocido como Pptoño Barber</p>
      <img src="/src/assets/about-us.jpg" alt="Foto en estudio" />
    </div>

    <h2>Historia</h2>
    <p>Empece mi</p>

    <h2>Misión</h2>

    <h2>Vision</h2>
  </main>

  <Footer />
</Layout>
