---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/header.astro";
import Footer from "../components/Footer/footer.astro";
import "../styles/about.css";
---

<Layout title="Pptoño barber | Acerca de mi">
  <Header />

  <main>
    <section class="hero">
      <div class="write">
        <h1 class="about-h1">Acerca de mi</h1>
        <p class="hero-text">
          Soy Joseantonio Torres, mejor conocido como Pptoño Barber
        </p>
      </div>
      <img
        class="img-hero"
        src="/src/assets/about-us.jpg"
        alt="Foto en estudio"
      />
    </section>

    <h2 class="about-h2">Historia</h2>
    <p class="about-text">
      Empece en el mundo de la barberia desde en el 2018, cortandole a amigos y
      familiares, para finalmente aprender de forma mas profesional en enero del
      2021
    </p>

    <h2 class="about-h2">Misión</h2>
    <p class="about-text"></p>

    <h2 class="about-h2">Vision</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </main>

  <Footer />
</Layout>
