---
import Header from "../components/Header/header.astro";
import Footer from "../components/Footer/footer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout title="Pptoño barber">
  <Header />

  <main>
    <!-- bienvenida al usuario logueado -->

    <p>Bienvenido</p>

    <h2>Cortes</h2>
    <section class="servicios">
      <div class="cortes">
        <h3>Buzz cut</h3>
        <img src="/src/assets/buzzcut.jpg" alt="buzz cut" />
        <p>Este corte se realiza...</p>
        <span>$230</span>
      </div>

      <div class="cortes">
        <h3>Natural</h3>
        <img src="" alt="" />
        <p>Corte natural con el #2 por los laterales</p>
        <span>$230</span>
      </div>

      <div class="cortes">
        <h3>Tapper fade</h3>
        <img src="/src/assets/taper-fade.webp" alt="taper fade" />
        <p>Desvanecido con #0 en patillas y nuca</p>
        <span>$230</span>
      </div>

      <div class="cortes">
        <h3>Desvanecidos</h3>
        <img src="" alt="" />
        <p>
          Desvanecido alto, medio o bajo <br />
          iniciando con el numero 0
        </p>
        <span>$230</span>
      </div>

      <div class="cortes">
        <h3>Mullet</h3>
        <img src="" alt="" />
        <p>Desvacenido con el #0 en las patillas</p>
        <span>$230</span>
      </div>

      <div class="cortes">
        <h3>Brust fade</h3>
        <img src="" alt="" />
        <p>Desvanecido con el #0 en forma ciurcular</p>
        <span>$230</span>
      </div>
    </section>

    <h2>Paquetes</h2>
    <section class="paquetes">
      <div class="paquete">
        <h3>Barba y fade</h3>
        <img src="" alt="" />
        <p>
          Desvanecido fade a partir del #0, barba igualmente desvanecida y
          conectada con el cabello.
        </p>
        <span>$400</span>
      </div>

      <div class="paquete">
        <h3>Corte y barba</h3>
        <img src="" alt="" />
        <p>
          Corte natural o tijera por los costados, arreglo de barba con ligera
          exfoliacion y uso de vapor caliente para relajacion y facilitacion de
          la piel al momento de realizar el afeitado.
        </p>
        <span>$400</span>
      </div>
    </section>

    <h2>Productos</h2>
    <section class="products">
      <div class="product">
        <h3>Fussion pomade</h3>
        <img src="" alt="" />
        <p></p>
        <span>$290</span>
      </div>
      <div class="product">
        <h3>Fussion Pomade blue</h3>
        <img src="../src/assets/FP-blue.jpg" alt="Fussion pomade blue" />
        <p></p>
        <span>$290</span>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
