---
import Layout from "../layouts/Layout.astro";
import "../styles/singup.css";
---

<Layout title="Registro | Pptoño barber">
  <main class="singup">
    <form method="POST" action="/">
      <h2>Registro</h2>
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Introduce tu nombre"
        required
      />

      <label for="email">Correo electrónico:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Introduce tu correo"
        required
      />

      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Introduce tu contraseña"
        required
        pattern=".{6,}"
      />

      <div>
        <button type="submit" class="accept">Registrarse</button>
        <button class="close" type="button">Cancelar</button>
      </div>
    </form>
    <p>
      ¿Ya tienes cuenta? <a href="/login">Inicia sesión</a>
    </p>
  </main>
</Layout>
