---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/header.astro";
import Footer from "../components/Footer/footer.astro";
---

<Layout title="Actualizaciones | Admin">
  <Header />
  <main>
    <section>
      <div>
        <h1>Precios</h1>
      </div>
      <div>
        <h1>Cortes</h1>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
