---
import "../Header/header.css";
---

<header>
  <a href="/"><img src="/Logo.png" alt="Logo" /></a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/agenda">Agenda</a></li>
      <li><a href="/about">Acerca de mi</a></li>
      <li id="login"><a href="/login">Iniciar sesión</a></li>
      <li><a href="/singup">Registrarte</a></li>
      <li id="update"><a href="/updates">Actualizaciones</a></li>
      <li id="estadistics"><a href="/estadistics">Estadisticas</a></li>
      <li id="close"><button class="close">Cerrar sesion</button></li>
    </ul>
  </nav>
</header>
