---
import "../Header/header.css";
---

<header>
  <a href="/"><img src="/pptoño.ico" alt="Logo" class="logo" /></a>
  <h2>Pptoño Barber</h2>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/services">Cortes</a></li>
      <li><a href="/about">Acerca de mi</a></li>
      <li><a href="/agenda">Agenda</a></li>
      <li id="login"><a href="/login">Iniciar sesión</a></li>
      <li><a href="/singup">Registrarte</a></li>
      <li id="close"><button class="close">Cerrar sesion</button></li>
    </ul>
  </nav>
</header>
