header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--background-dark);
  border-bottom: solid 1px var(--border-dark);
  height: 50px;
}

a .logo {
  height: 30px;
  width: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 0 25px;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease 0s;

  &:hover {
    color: var(--primary);
  }
}

.close {
  display: none;
  padding: 10px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
