.f-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 20%;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.f-content .links {
  justify-content: center;
  justify-items: center;
  width: 32px;
  height: 32px;
}
/*Poner una pseudo clase para poder separar los links?*/

iframe {
  border-radius: 5%;
}

.footer-text {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
