---
import "../Footer/footer.css";
---

<footer>
  <div class="f-content">
    <section class="social-media">
      <h4>Redes sociales</h4>
      <a
        href="https://www.instagram.com/joseantoniotrr?igsh=MXRqMm05MmszanhkMg== "
      >
        <img
          class="links"
          src="/instagram_dark.svg"
          loading="lazy"
          alt="Instagram"
        />
      </a>
      <a href="https://www.tiktok.com/@joseantoniotrr?_t=ZS-8wz8pGWCt3H&_r=1 ">
        <img class="links" src="/tiktok.svg" loading="lazy" alt="Tiktok" />
      </a>
      <!--   <a href=""><img class="links" src="" alt=""></a> -->
    </section>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d912.8651304633694!2d-99.17226383045875!3d23.766609926038498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8679535cf5c53a59%3A0xb057e427cce80bb0!2sErnesto%20Higuera%20500%2C%20Colinas%20del%20Valle%2C%2087018%20Cdad.%20Victoria%2C%20Tamps.!5e0!3m2!1ses!2smx!4v1749226408800!5m2!1ses!2smx"
        width="300"
        height="200"
        style="border:0;"
        title="Ubicacion"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
  <p>&copy; Todos los derechos reservados 2025</p>
</footer>
