.f-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  border: 5px solid white;
  height: 20%;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.f-content .links {
  justify-content: center;
  justify-items: center;
  width: 32px;
  height: 32px;
}

iframe {
  border-radius: 5%;
}

p {
  text-align: center;
  margin: 10px;
}
